{% extends 'base.html' %}

{% block title %}
    <title>
        Edit Book
    </title>
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <table class="table">
            <thead class="thead-light">
            <th>
                <h4>Edit Book</h4>
            </th>
            <th></th>
            </thead>
            {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-outline-primary"/>
        <a href="{% url 'book-detail' object.id %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
{% endblock %}