{% extends 'base.html' %}

{% block title %}
    <title>
        Add New Author
    </title>
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <table class="table">
            <thead class="thead-light">
            <th>
                <h4>Add New Author</h4>
            </th>
            <th></th>
            </thead>
            {{ form.as_table }}
        </table>
        <input type="submit" class="btn btn-outline-primary" value="Save"/>
        <a href="{% url 'author-detail' object.id %}" class="btn btn-outline-secondary">Cancel</a>
    </form>
{% endblock %}