{% extends 'base.html' %}

{% block content %}
    {% if book_list %}
        <table class="table">
            <tr class="info">
                <th>
                    Book Name
                </th>
                <th>
                    Author
                </th>
                <th>
                    Genres
                </th>
            </tr>
            {% for book in book_list %}
                <tr>
{#                    <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>#}
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.display_genre }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <blockquote>There is no book in library!</blockquote>
    {% endif %}

{% endblock %}