{% extends 'base.html' %}

{% block title %}
    <title>
        All Books
    </title>
{% endblock %}

{% block content %}
    {% if book_list %}
        <table class="table">
            <tr class="info">
                <th>
                    #
                </th>
                <th>
                    Book Name
                </th>
                <th>
                    Author
                </th>
                <th>
                    Genres
                </th>
                {% if user.is_staff %}
                    <th>
                        Options
                    </th>
                {% endif %}
            </tr>
            {% for book in book_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
                    {#                    <td>{{ book.title }}</td>#}
                    <td>{{ book.author }}</td>
                    <td>{{ book.display_genre }}</td>
                    {% if user.is_staff %}
                        <td>
                            <a class="text-danger" href="{% url 'are-you-sure-delete-book' book.pk %}">Delete</a>
                            <a href="#" class="text-info">Edit</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <blockquote>There is no book in library!</blockquote>
    {% endif %}

{% endblock %}